body{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 90px;
    margin-top: 50px;
    margin-left: 0px;   
    padding: 20px;
}

h3{
     font-size: 30px;
     font-family: 'Montserrat', sans-serif;
     font-weight: normal;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.bottom-container{
    text-align: center;
}

.contact-me{
    text-align: center;
}

#title{
    background-color: #FF4C68;
}

.container-fluid{
    padding: 3% 15% 0%;
    margin-bottom: 150px;
    background-color: #FF4C68;
}

.navbar{
    padding: 0 0 4.5rem; 
}

#branding{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;  
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}