h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    color: white;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    color: white;
    line-height: 1.5;
}

h3{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

p{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* Navigation Bar */

#title{
    background-color: #FF4C68;
}

.container-fluid{
    padding: 3% 15% 0%;
    margin-bottom: 150px;
}

.navbar{
    padding: 0 0 4.5rem; 
}

#branding{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;  
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link{
    font-size: 1rem;
}

/* Title Image */

.dog-phone{
    width: 60%;
    margin-top: 2.8rem;
    margin-left: 6.5rem;
    transform: rotate(25deg);
    object-fit: scale-down;
}

#dog-box{
    height: 700px;
    width: 500px;
}

/* Download Buttons */

.download-button{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

/* Features Section */

#features{
    text-align: center;
}

.caption{
    margin-top: 4.5rem;
}

.fa-solid{
    color: #EF8172;
    font-size: 7rem;
    margin-bottom: 5rem;
}

.fa-solid:hover{
    color: #FF4C68;
    font-size: 7rem;
    margin-bottom: 5rem;
}

.col-lg-4{
    margin-top: 0 15;
}

/* Testimonials Section */

#testimonials{
    background-color: #EF8172;
    color: white;
    text-align: center;
}

.testiomonial{
    border-radius: 100%;
    width: 20%;
    margin: 20px;
}

#press{
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    height: 800px;
    padding: 7% 15%;
}
