h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    color: white;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    color: white;
    line-height: 1.5;
}

h3{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

p{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* Navigation Bar */

#title{
    background-color: #FF4C68;
    padding: 3% 15% 0%;
    height: 700px;
}

.navbar{
    padding: 0 0 4.5rem; 
}

#branding{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;  
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link{
    font-size: 1rem;
}

/* Title Image */

.dog-phone{
    width: 60%;
    left: 20%;
    margin-top: 10%;
    transform: rotate(25deg);
    object-fit: scale-down;
    position: relative;
}

.dog-div{
    
    position: relative;
    
}

/* Download Buttons */

.download-button{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

/* Features Section */

#features{
    background-color: white;
    position: relative;
    padding: 7% 15%;
    text-align: center;
    z-index: 1;
}

.caption{
    margin-top: 4.5rem;
}

.icons{
    color: #EF8172;
    font-size: 7rem;
    margin-bottom: 5rem;
}

.icons:hover{
    color: #FF4C68;
    font-size: 7rem;
    margin-bottom: 5rem;
}

.col-lg-4{
    margin-top: 0 15;
}

/* Testimonials Section */

#testimonials{
    background-color: #EF8172;
    color: white;
    text-align: center;
}

.testiomonial{
    border-radius: 100%;
    width: 20%;
    margin: 20px;
}

#press{
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    height: 800px;
    padding: 7% 15%;
}

/* Pricing */

#pricing{
    padding-bottom: 120px;
}

.card{
    text-align: center;
    padding-bottom: 1.5rem;
    margin: 0 20px;

}

.pricing-txt{
    margin: 140px 0 120px;
    text-align: center;
}

.pricing-col{
    padding: 3% 2%;
}

#plan{
    color: black;
}

.non-mastiff{
    margin-top: 25px;
}

/* Call To Action */

#cta{
    background-color: #FF4C68;
    font-size: 3.5rem;
    color: white;
    text-align: center;
    padding: 10%;
}

#tru-lov{
    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 5%;
}

/* Footer */

#footer{
    padding-top: 10%;
    padding-bottom: 2%;
    text-align: center;
}

.footer-icons{
    margin: 0 5px;
    color: black;
}

.copyright{
    color: gray ;
    font-size: medium;
    margin-top: 1rem;
}

/* Media Queries */

@media (max-width: 1028px){

    .initial-caption{
        text-align: center;
    }

    .dog-phone{
        visibility: hidden; 
    }

    .download-button{
        margin-top: 7rem;
    }
}